#contato {
  background: linear-gradient(var(--cor-11) 630px, var(--cor-1) 0);
}

#contato .titulo-bg p {
  margin-bottom: 4px;
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: var(--cor-12);
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0);
}

.contato-dados h2 {
  margin-bottom: 60px;
}

.contato-endereco {
  padding-left: 28px;
  background: url(../../img/icones/local.svg) no-repeat 0px 2px;
  margin-bottom: 32px;
}

.contato-endereco p {
  margin-bottom: 8px;
}

.contato-meio a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contato-meio a:hover {
  color: var(--cor-0);
}

.contato-meio a:first-child {
  background: url(../../img/icones/email.svg) no-repeat 0px 2px;
}

.contato-meio a:last-child {
  background: url(../../img/icones/telefone.svg) no-repeat 0px 2px;
  margin-top: 32px;
  margin-bottom: 60px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }

  .contato-redes {
    margin-bottom: 16px;
  }

  .contato-dados {
    border-radius: 5px 5px 0 0;
    background: var(--cor-12);
  }

  .contato-formulario {
    border-radius: 0 0 5px 5px;
    background: var(--cor-0);
  }

  .contato-meio a:last-child {
    margin-bottom: 32px;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form label {
  display: block;
  margin-bottom: 4px;
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  border-radius: 4px;
  background-color: var(--cor-1);
  padding: 12px;
  width: 100%;
}

.form button {
  border: 2px solid var(--cor-8);
  cursor: pointer;
}

.colum-2 {
  grid-column: 1/-1;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .colum-2 {
    grid-column: 1;
  }
}
