.introducao-bg {
  background-color: #000000;
  color: #ffffff;
  box-shadow: inset 0px -120px #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 0px auto;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.introducao-conteudo h1 {
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.33;
}

.introducao-conteudo h1 span {
  color: #ffbb00;
}

.introducao-conteudo p {
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
}

@media (max-width: 1200px) {
  .introducao-conteudo h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: #111111;
    box-shadow: inset 0px -60px #ffffff;
  }

  .introducao img {
    height: 400px;
    width: 100%;
  }

  .introducao-conteudo {
    padding: 40px 0px;
  }
  .introducao-conteudo h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }

  .introducao-conteudo p {
    font-size: 1.125rem;
  }

  .introducao {
    grid-template-columns: 1fr;
  }
}
