.perguntas {
  padding: 120px 20px;
}

.perguntas h2 {
  margin-bottom: 60px;
}

.perguntas dl > div {
  padding: 20px;
}
.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}


.perguntas dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.perguntas dt::before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
  
}
.perguntas dt::after {
    content: "";
    display: inline-block;
    background: url(../../img/icones/seta-abrir.svg);
    height: 6px;
    width: 14px;
    transition: 0.3s;
}

.perguntas dt:hover::after {
    transform: rotate(180deg);
}

.perguntas dd {
    padding: 16px 0 0 20px;
    max-width: 80ch;
}