.termos {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 40px;
}

.termos-items {
  margin-bottom: 40px;
}

.termos-items h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.termos-items p {
  max-width: 78ch;
  margin-bottom: 24px;
}
