.titulo p {
  margin-bottom: 8px;
}

.termos {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 40px;
}

.termos-items {
  margin-bottom: 40px;
}

.termos-items h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.termos-items p {
  max-width: 78ch;
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding: 32px 20px;
  }

  .titulo p {
    text-transform: lowercase;
    font-size: 1rem;
    margin-bottom: 4px;
  }
}
